/* ABOUT US SECTION */
.about-us {
    background: linear-gradient(to top, #E54313, #ffffff);
    margin-top: 20px;

}

.image {
    display: flex;
    align-items:  center;
    padding-top: 30px; 
}

.aboutUs-images img {
    max-width:30%; 
    height: auto;
    display: flex;
    align-items:  center;
    margin: 10px auto;
    padding-top: 30px;
}

.aboutUs-text {
    text-align: center;
    padding-top: 5px;
}

.aboutUs-text1 {
    font-family: 'Marko One', serif;
    font-size: 24px; 
    font-weight: 500;
    color: #E54313;
    padding-top: 5px;
    padding-bottom: 12px;
    text-decoration: underline;
}

.aboutUs-text2 {
    font-family: 'Marko One', serif;
    font-size: 18px; 
    font-weight: 500;
    color: var(--red);
    padding-top: 2px; 
    padding-bottom: 4px; 
}

.description {
    text-align: justify;
    margin: 10px 340px;
    font-weight: 300;
    color: #000000;
    line-height: 1.4;
    margin-bottom: 1%;
    padding-top: 0.1px;
    padding-bottom: 5px;
    font-size: 16px; 
    text-transform: none;
}

.keunggulan {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    padding-bottom: 50px; 
    
}

.keunggulan .box {
    width: 100%; 
    max-width: 130px;
    margin: 7px; 
    background: var(--red);
    padding: 7px; 
    text-align: center;
    font-size: 16px; 
    color: #eee3b6;
    border-radius: 10px;
}

/* GROUP 18 SECTION */
.team {
    padding: .7rem;
    background: var(--cream);
}

.our-team {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    text-align: center;
}

.column {
    width: 100%;
    padding: 0.5rem 0;
    margin-bottom: 30px;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: var(--red);
    font-family: 'Gupter', serif;
    padding-top: 2px;
}

.card {
    box-shadow: 0 0 2.4rem rgba(25, 0, 58, 0.1);
    padding: .5rem .5rem;
    border-radius: 50px;
    color: #fff1ca;
    cursor: pointer;
    transition: 0.3s;
    background-color: #3F3836;
}

.card .img-team {
    width: 12rem;
    height: 12rem;
    background-color: #fff1ca;
    padding: 0.5rem;
    border-radius: 50%;
    margin: 0 auto 2rem auto;
}

.card img {
    width: 100%;
    border-radius: 50%;
}

.card h3 {
    font-size: 20px;
    font-weight: 600;
}

.card h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}

.card p {
    font-weight: 300;
    text-transform: none;
    margin: 0.5rem 0 2rem 0;
    letter-spacing: 1px;
    font-size: 15px;
}

.medsos {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.card a {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    letter-spacing: 1px;
}

.card:hover {
    background: linear-gradient(62deg, #6e5036 0%, #743230 100%);
    color: #ffffff;
}

.card:hover .img-team {
    transform: scale(1.15);
}

/* ================ TAMPILAN RESPONSIVE ============= */

@media screen and (max-width: 1024px){
    .Image img {
        position: static;
        max-width: 100%; 
        height: auto;
    }

    .description {
        margin: 10px 80px; 
    } 

}

@media screen and (min-width: 992px) {
    .card {
      padding: 5rem 1rem;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1rem;
    }
    
}

@media screen and (max-width: 850px){
    .description {
        margin: 10px 80px; 
    } 
    .aboutUs-images img {
        max-width:50%;
    }
}

@media (max-width:768px){
    .description {
        margin: 10px 80px; 
    } 
    .aboutUs-images img {
        max-width:50%;
    }
    
}

 
@media screen and (max-width: 600px){
    .Image img {
        position: static;
        max-width: 100%; 
        height: auto;
    }
    .description {
        margin: 10px 40px; 
    }
    .aboutUs-images img {
        max-width:30%;
    }
    .card h3 {
        font-size: 18px;
    }
    .card h2 {
        font-size: 18px;
    }
    .card p {
        font-size: 14px;
    }

}

@media screen and (max-width: 450px){
    .description {
        margin: 10px 40px; 
    }
    .aboutUs-images img {
        max-width:70%;
    }

}

@media screen and (max-width: 360px){
    .description {
        margin: 10px 30px; 
    }
    .aboutUs-images img {
        max-width:70%;
    }
    .card h3 {
        font-size: 18px;
    }
    .card h2 {
        font-size: 18px;
    }
    .card p {
        font-size: 12px;
    }

}




























