/* FILTER MENU CATEGORY */
.menu-categorysection {
  background: linear-gradient(to top, #EBD8CC, #ffffff);
  padding-top: 90px;
  padding-bottom: 0.5px;
  border: 5px solid #8B342A;
  border-radius: 10px;
}

.menu-category {
  text-align: center;
  padding-bottom: 10px;
}

.menu-categoryimages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 10px;
}

.menu-categoryimages img {
  width: 60px;
  height: 70px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.menu-categoryimages img:hover {
  transition: .4s;
  color: var(--red);
  box-shadow: 0px 10px 10px;
}

.productname {
  font-family: 'Gupter', serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding-top: 7px;
  color: var(--pink);
}

/* SHOPPING CART  */
.cart{
  position: fixed;
  top: 0;
  right: 0;
  right: -100%; 
  width: 360px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: var(--red);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--cream);
  transition: 1.5s;
}
.cart.active{
  right: 0;
  transition: .5s;
}
.cart-title{
  font-family: 'Marko One', serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--yellow);
  text-align: center;
  margin-top: 2rem;
}
.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.cart-img{
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 10px;
}
.detail-box{
  display: grid;
  row-gap: .5rem;
}
.cart-product-title{
  border-top: 1px solid var(--cream);
  padding-top: 15px;
  font-weight: 600;
  font-size: 18px;
  color: var(--yellow);
  text-transform: none;
}
.cart-price{
  padding-top: 5px;
  font-weight: 500;
  font-size: 18px;
  color: var(--cream);

}
.cart-quantity{
  border: 1px solid var(--cream);
  outline-color: var(--cream);
  width: 5rem;
  text-align: center;
  font-size: 1rem;
}
.cart-remove{
  font-size: 24px;
  color: var(--cream);
  cursor: pointer;
}
.total{
  font-size: 18px;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-top: 1opx;
  border-top: 1px solid var(--cream);
}
.total-title{
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
.total-price{
  padding-top: 10px;
  font-size: 18px;
  margin-left: .5rem;
}
.btn-buy{
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background-color: var(--cream);
  color: var(--red);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.btn-buy:hover{
  background-color: var(--yellow);
}
#cart-close{
  position: absolute;
  top: 1rem;
  right: .8rem;
  font-size: 2rem;
  color: var(--cream);
  cursor: pointer;
}

/* ORDER FORM */
.order-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.order-form {
  background: linear-gradient(62deg, #eee3b6 0%, #e28f8e 100%);
  max-width: 520px;
  width: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.order-form h2 {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: 28px;
}

#order-summary h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  color: var(--red);
}

#order-summary-list {
  list-style-type: none;
  padding: 10px 0px;
  font-size: 14px;
}

#order-summary p {
  font-size: 20px;
  text-decoration: overline;
  font-weight: 600px;
  color: var(--red);
}

.order-content {
  display: flex;
  justify-content: space-between;
}

.order-summary {
  width: 48%; 
  margin-bottom: 20px;
}


#order-summary-list li {
  margin-bottom: 10px;
}


.order-form label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.order-form input,
.order-form textarea,
.order-form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.order-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: var(--cream);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-form button:hover {
  background-color: var(--red);
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 350px;
  width: 100%;
  max-height: 40vh; 
  border-radius: 20px;
}

.popup-content {
  text-align: center;
  color: var(--red);
  font-size: 18px;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  cursor: pointer;
  color: var(--red);
}

.success-icon {
  font-size: 60px;
  color: #4CAF50;
  margin-bottom: 20px;
}

/* WELCOME OUR MENU */
.welcomeMenu {
  width: 100%;
  flex: 1;

  display: flex;
  align-items: center;
  background-color: #fdfaf2;
  background: linear-gradient(62deg, #eee3b6 0%, #e28f8e 100%);
}

.welcomeMenu .welcomeMenu-description {
  flex: 1.5 3;
  padding: auto;
}

.welcomeMenu-title {
  font-family: 'Marko One', serif;
  font-weight: 550;
  color: var(--red);
  padding-bottom: 5px;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
  text-shadow: 1px 1px 1px var(--red),
        1px 2px 1px  var(--cream),
        1px 3px 1px  var(--cream),
        1px 4px 1px #ffffff,
    1px 15px 15px rgba(16, 16, 16, 0.2),
    1px 10px 10px rgba(16,16,16,0.4);
}


.welcomeMenu-isi {
  max-width: 600px;
  width: 100%;
  height: 5px;
  margin-left: 10px;
  text-transform: none;
}

.welcomeMenu .welcomeMenu-image {
  flex: 1;
  display: flex;
}

.welcomeMenu .welcomeMenu-image img {
  max-width: 280px;
  width: 100%;
  margin: auto;
}

.hero {
  display: flex;
}

/* OUR MENU SECTION */
.ourMenu-container {
  background: rgb(237, 219, 205);
}

.ourMenu{
  margin-top: 2rem;
}

.section-title{
  font-family: 'Marko One', serif;
  font-size: 28px;
  font-weight: 500;
  color: var(--red);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  text-shadow: 1px 1px 1px var(--pink),
        1px 2px 1px  var(--cream),
        1px 3px 1px  var(--cream),
        1px 4px 1px #ffffff,
    1px 15px 15px rgba(16, 16, 16, 0.2),
    1px 10px 10px rgba(16,16,16,0.4);
}

.section-title1{
  font-family: 'Gupter', serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
  text-align: center;

}

.ourMenu-content{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, auto));
  gap: 5rem;
  padding: 5rem 10rem;
}

.product-box{
  position: relative;
  background: linear-gradient(62deg, #eee3b6 0%, #e28f8e 100%);
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 1);
  padding-bottom: 40px;
}

.product-box:hover{
  padding: 10px;
  border: 1px solid var(--box-shadow);
  transition: .4s;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 1);
}

.product-img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.product-title{
  font-family: 'Gupter', serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: var(--red);
  text-transform: none;
}
.product-price{
  font-family: 'Gupter', serif;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--red);
  color: var(--cream);
  padding: 12px;
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.add-cart{
  font-size: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--red);
  color: var(--cream);
  padding: 10px;
  cursor: pointer;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* ================ TAMPILAN RESPONSIVE ============= */
@media only screen and (max-width: 1366px) {
  .welcomeMenu-isi {
  max-width: 400px;
  width: 100%;
  border-radius: 15px;
  }

  .welcomeMenu-title {
    font-size: 28px;
    color: var(--pink);
    padding-left: 80px;
  }
  
  .welcomeMenu .welcomeMenu-description p {
    font-size: 16px;
    padding-left: 80px;
    padding-bottom: 10px;
    line-height: 2rem;
  }

}

@media only screen and (max-width: 768px) {
  .welcomeMenu-isi {
    max-width: 335px;
    width: 100%;
    border-radius: 15px;
  }
  .menu-categorysection {
    padding-top: 40px;
  }

  .menu-categoryimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px; 
  }

  .menu-categoryimages img {
    width: 30px; 
    height: 42px;
  }

  .productname {
    font-size: 10px; 
  }

  .product-title{
    font-size: 16px;
  }

  .welcomeMenu-title{
    font-size: 24px;
    color: var(--pink);
    padding-left: 30px;
  }
  
  .welcomeMenu .welcomeMenu-description p {
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 10px;
    line-height: 2rem;
  }

  .ourMenu-content {
    grid-template-columns: repeat(2, minmax(200px, auto));
    gap: 6rem;
    padding: 8rem;
  }

  .section-title1{
    padding: 0 20px;
  }

  .order-form h2 {
    font-size: 20px;
  }
  
  #order-summary h3 {
    font-size: 14px;
  }
  
  #order-summary-list {
    font-size: 12px;
  }
  
  #order-summary p {
    font-size: 14px;
  }
}


@media only screen and (max-width: 600px) {
  .menu-categorysection {
    padding-top: 40px;
  }
  
  .menu-categoryimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px; 
  }

  .productname {
    font-size: 10px; 
  }

  .welcomeMenu-title {
    font-size: 22px;
    color: var(--pink);
    padding-left: 30px;
  }

  .welcomeMenu .welcomeMenu-description p {
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 10px;
    line-height: 2rem;
  }

  .ourMenu-content {
    grid-template-columns: repeat(2, minmax(150px, auto));
    gap: 4rem;
    padding: 6rem;
  }
  .order-form {
    width: 100%; 
    padding: 20px; 
  }
  .order-form label {
    font-size: 12px;
    margin-left: 30px;
  }
  .order-form input,
  .order-form textarea,
  .order-form select {
  width: 80%;
  margin-left: 30px;
  box-sizing: border-box;
  }
  .order-form button {
    width: 80%;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .welcomeMenu-title {
    font-size: 20px;
    color: var(--pink);
    padding-left: 30px;
    
  }

  .welcomeMenu-isi {
    max-width: 400px;
    width: 50%;
    height: 10px;
    padding-left: 10px;
    border-radius: 10px;
  }

  .welcomeMenu-description {
    margin-block: 15px;
    padding: auto;
  }

  .welcomeMenu-title {
    font-size: 20px;
    color: var(--pink);
    padding-left: 30px;
  }

  .welcomeMenu .welcomeMenu-description p {
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 10px;
    line-height: 2rem;
  }

  .ourMenu-content {
    grid-template-columns: repeat(2, minmax(150px, auto));
    gap: 3rem;
    padding: 4rem;
  }

  .product-box:hover {
    padding: 5px;
  }

  .add-cart,
  .product-price {
    font-size: 20px;
    padding: 8px;
  }
  .order-form h2 {
    font-size: 16px;
  }
  
  #order-summary h3 {
    font-size: 12px;
  }
  
  #order-summary-list {
    font-size: 10px;
  }
  
  #order-summary p {
    font-size: 12px;
  }

}

@media only screen and (max-width: 400px){
  .cart{
      width: 320px;
  }
  .welcomeMenu-title {
    font-size: 20px;
    color: var(--pink);
    padding-left: 30px;
  }
  .welcomeMenu .welcomeMenu-description p {
    font-size: 14px;
    padding-left: 30px;
    padding-bottom: 10px;
    line-height: 2rem;
  }

  .ourMenu-content {
    grid-template-columns: repeat(2, minmax(150px, auto));
    gap: 3rem;
    padding: 4rem;
  }
}

@media only screen and  (max-width: 360px){
  .cart{
      width: 280px;
  }

  .welcomeMenu-title {
    font-size: 16px;
    color: var(--pink);
    padding-left: 10px;
  }

  .welcomeMenu-isi {
    max-width: 400px;
    width: 50%;
    height: 10px;
    padding-left: 10px;
    border-radius: 10px;
  }

  .welcomeMenu-description {
    margin-block: 15px;
    padding: auto;
  }

  .welcomeMenu .welcomeMenu-description p {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 2rem;
  }

  .menu-categorysection {
    padding-top: 40px;
  }

  .menu-categoryimages {
    margin: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menu-cateegoryimages img {
    width: 10px; 
    height: 18px;
  }

  .productname {
    font-size: 2px; 
  }

  .ourMenu-content {
    grid-template-columns: repeat(2, minmax(150px, auto));
    gap: 3rem;
    padding: 4rem;
  }
  .order-form h2 {
    font-size: 16px;
  }
  
  #order-summary h3 {
    font-size: 12px;
  }
  
  #order-summary-list {
    font-size: 10px;
  }
  
  #order-summary p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 150px) {
  .menu-categorysection {
    padding-top: 40px;
  }

  .menu-categoryimages {
    margin: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menu-categoryimages img {
    width: 5px; 
    height: 10px;
  }

  .productname {
    font-size: 1px; 
  }
}












