/* custom properties/variables */
:root {
    --main-white: #f0f0f0;
    --main-white-gray: #f7f5eb;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-black: #3e3d3b;
}
/* Base Reset */
* {
    margin: 0;
    padding: 0;
}
/* box-sizing and font-sizing */
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

/* Base style */
body {
    font-family: 'Gupter', serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-black);
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4.2rem;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--main-black);
}
/* nav */
.logo img {
    position: absolute;
    margin: 15px 0 0 10px;
}
nav a {
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: serif;
    text-align: center;
    
}
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-white-gray);
    z-index: 10;
    overflow: auto;
}
.nav-list {
    display: flex;
    margin-right: 2rem;
}
@media(max-width: 28.75rem) {
    .nav {
        justify-content: center;
    }
    .nav-list {
        margin: 0 1rem;
    }
}
.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}
.nav-list a:hover {
    background: var(--main-blue);
}

/* home section */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(62deg, #eee3b6 0%, #e2b18e 100%);
}
.order {
    display: block;
    width: 25%;
    padding: 0.75rem;
    background-color: #8b342a;
    border-radius: 4px;
    cursor: pointer;
    color: #f7f5eb;
}
.about-us-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--main-white);
    text-wrap: wrap;
}
.why-choose-us {
    color: #e54313;
}